body {
    margin: 0 auto;
    width: 95%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
    background-origin: padding-box;
    background-color: darkcyan;
    border: 5px  dodgerblue;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 8px;
}
.intro{
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: underline;
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.0em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
